{% extends "core/base_template.html" %}

{% block title %}
    Предложить пирожок
{% endblock %}

{% block top_menu %}
    <a class="nav" href="/">&larr; На главную</a>
{% endblock %}

{% block content %}
    <div class="sources">
        <form action="{% url 'add' %}" method="post">
            {% csrf_token %}
            <h3>Предложить пирожок</h3>
            <textarea name="pasty_body" class="pasty_body"></textarea>
            <input type="submit" value="Отправить"/>
        </form>
        {%  include "core/blocks/messages.html" %}
    </div>
{% endblock %}