{% extends "core/base_template.html" %}

{% block title %}
    Синхронизация с источниками
{% endblock %}

{% block top_menu %}
    <a class="nav" href="/">&larr; На главную</a>
{% endblock %}

{% block content %}
    <div class="sources">
        <form action="{% url 'sync' %}" method="post">
            {% csrf_token %}
            <h3>Источники</h3>
            <ul>
                {% for s in sources %}
                    <li>
                        <input type="checkbox" name="source" id="source{{ forloop.counter }}" value="{{ s.id }}"/>
                        <a href="{{ s.url }}">{{ s.title }}</a>
                        <span> ({{ s.sync_date }})</span>
                    </li>
                {% endfor %}
            </ul>
            <input type="submit" value="Синхронизировать"/>
        </form>
    </div>
{% endblock %}